.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.top-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.top-section > * {
  width: 48%;
}

.bottom-section {
  width: 100%;
}